html {
      background: #ededed; /* Old browsers */
      background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(53%,#f6f6f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%) no-repeat; /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* IE10+ */
      background: linear-gradient(to bottom, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
      /* Simple page reset */
      margin:0;
      padding:0;
}

body{
      /* Setting default text color, background and a font stack */
      height: 100%;
      width: 100%;
      color:#333333;
      font-size:26px;

      font-family:Arial, Helvetica, sans-serif;
}



/* The styles below are only necessary for the demo page */

h1{
}

h2 {
}


a, a:visited {
      color:#0196e3;
      text-decoration:none;
      outline:none;
}

a:hover{
      text-decoration:underline;
}
#timer{
      
      margin: 50px auto ;
      width:800px;
      
}


#display {
      font-size: 60px;
      text-align: center;
}


.setTime label{

      
}


.tbl {
      font-size: 12px;     
      border: none;

}

.tbl tr {

}

.tbl th {

      padding: 5px 60px; 
}

.tbl .focus {

      background:#cccccc;

}

.setTime {

      display: block;
      margin: 0px auto;

}

.setTime input[type="text"] {

      padding: 2px 5px;
      border: 1px solid #aaa;
/*      -moz-box-shadow: 0px 0px 2px #aaa inset;
      -webkit-box-shadow: 0px 0px 2px #aaa inset;
      box-shadow: 0px 0px 2px #aaa inset;
      -moz/box-shadow: 0px 0px 4px #aaa outset;
      -webkit-box-shadow: 0px 0px 4px #aaa ;
      box-shadow: 0px 0px 4px #aaa outset;
      */
      background: #f6f6f6;
      width: 100%;


}
